@charset "UTF-8"
*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
body{
    background-image: linear-gradient(to bottom, #45C4B0, #9AEBA3);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #012030;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{ 
    text-align: center;
    color: #012030;
    text-shadow: 1px 1px 0px #45C4B0;

}

h2{
    color: #13678A;


}

p{
    text-align: justify;
}